@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply
  bg-slate-50        /* Light background */
  text-slate-900     /* Light text */
  

  dark:bg-slate-950  /* Dark background */
  dark:text-slate-200; /* Dark text */
}
